html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: $veen-black;
  background-color: $veen-color-one;
}

a {
  color: $veen-color-one;
}
