main {
  padding: 1.25em 1em;
  background-color: $veen-white;

  h1 {
    width: 100%;
    max-width: 640px;
    font-family: "Palanquin Dark", sans-serif;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 1.2em;
  }

  p {
    font-size: 1.1em;
    line-height: 1.8;
    width: 100%;
    max-width: 640px;
    margin: 1em auto;
  }
}
