footer {
  background-color: $veen-color-two;
  font-weight: 300;
  padding: 3em 2em;
  display: flex;
  justify-content: flex-end;

  .footer-content {
    line-height: 1.5;

    address {
      font-style: normal;
    }

    .links {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
      }
    }

    .copyright {
      font-weight: 900;
    }
  }
}

@media (max-width:414px) {
  footer {
    justify-content: flex-start;
  }
}
