.logo-orgy {
  list-style: none;
  padding: 0;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  li {
    padding: 0.8em 1.6em;

    img {
      height: 50px;
    }
  }
}


@media (max-width:414px) {
  .logo-orgy {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
